body{
	text-align:center;
	background-image: url(tlo.jpg);
	
}
#container{
	margin:auto;
	width:1000px;
	color:#cfb53b;
}
#logo{
	text-align:center;
	letter-spacing:5px;
	font-weight:15px;
	
	
}
.img{
	height:475px;
	width:800px;
	border:3px solid black;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
	
}	
a:link{
	color:#cfb53b;
}
a:visited {
    color:#cfb53b;
}
a:hover {
    color:#e0c64c;